name: sidebar_library
description: A responsive, multi-level sidebar library for Flutter applications that works on web and mobile.
version: 1.0.0+1

repository: https://github.com/Anthony20602/sidebar_library
issue_tracker: https://github.com/Anthony20602/sidebar_library/issues

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
